services:
  postgres:
    image: postgres:16
    container_name: library-postgres
    environment:
      POSTGRES_DB: library
      POSTGRES_USER: library
      POSTGRES_PASSWORD: library
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U library -d library"]
      interval: 5s
      timeout: 3s
      retries: 20

  redis:
    image: redis:7-alpine
    container_name: library-redis
    ports:
      - "6379:6379"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    container_name: library-elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka
    depends_on:
      zookeeper:
        condition: service_started
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 10s
      timeout: 5s
      retries: 20


  app:
    build: .
    container_name: book-lending-service
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/library
      DB_USER: library
      DB_PASSWORD: library
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      LOAN_EVENTS_ENABLED: "true"
      LOAN_EVENTS_TOPIC: library.loan-events
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_started

  analytics:
    build: ./library-analytics-service
    container_name: library-analytics-service
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/library
      DB_USER: library
      DB_PASSWORD: library
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      LOAN_EVENTS_TOPIC: library.loan-events
      REDIS_HOST: redis
      REDIS_PORT: 6379
      ELASTIC_URIS: http://elasticsearch:9200
    ports:
      - "8081:8081"
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_started
      redis:
        condition: service_started
      elasticsearch:
        condition: service_started
